* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: #1a1a1b;
  font-family: sans-serif;
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px;

}

div ul {
  max-width: 540px;
}

div li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  padding-bottom: 15px;
  border-bottom: 1px solid #4e4e4e;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 2px;
}

div li button {
  margin-top: 0;
  background: #ca4949;
  border-radius: 2px;
}

.title {
  margin-bottom: 10px;
  font-weight: bold;
}

.tag-techs-items {
  color: #00dcff70;
  border: 1px solid #00dcff70;
  background: #00dcff70;
  padding: 2px 5px;
  margin: 3px 3px 0 0;
  border-radius: 2px;
  font-weight: 100;
}

.tag-techs {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
